body {
  margin: 0;
}

.subject {
  margin: 20px;
}

.label-top {
  height:40px;
  background-color: #f4f5f9;
  border: #e6e7e9 solid 1px;
  border-radius: 5px 5px 0 0;
 }

.label-title {
  font-size: 13px;
  font-weight: bold;
  margin: 12px 5px 5px 18px;
  color: #6c6c6c;
}

.label-bottom {
  border: #e6e7e9 solid 1px;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  min-height: 500px;
}

input[type="button"] {
  font-weight: 700;
  color: white;
  border-radius: 5px;
  background: linear-gradient(to top,#52a843,#6bcf5b);
  border-top: #468d41 solid 1px;
  border-right: #468d41 solid 1px;
  border-left: #468d41 solid 1px;
  border-bottom: #52a843 solid 1px;
  height: 30px;
}

input[name="upload"] {
  width: 200px;
  display: inline-block;
}

.text {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}

input[type="text"] {
  width: 100%;
  border: #6c6c6c solid 1px;
  border-radius: 5px;
  height: 25px;
}

input[name="submit"] {
  width: 120px;
  margin-top: 20px;
}

#tips {
  padding: 50px 0 30px 0;
}

#upload_button {
  width: 300px;
}

.upload {
  text-align: center;
}

.upload-mid {
  height: 70px;
  display: inline-block;
}

.big-text {
  font-family: "Microsoft YaHei UI";
  width: 100%;
  border: #6c6c6c solid 1px;
  border-radius: 5px;
  height: 80px;
}


.select {
  font-size: 13px;
  font-weight: bold;
  color: #6c6c6c;
  width: 35%;
  height: 40px;
  background-color: #f4f5f9;
  border: #e6e7e9 solid 1px;
  border-radius: 5px;
  margin-right: 20px;
}

.warpper div {
  display: inline-block;
  width: 33%;
}
.img {
   width: 300px;
   height: 300px;
 }

